#passwordAgainError {
  color:red;
}
h1 {
  text-align:center;
  color:blue;
  font-size: 2em;
  border-bottom: 1px solid blue;
  padding-bottom:10px;
}
#block{
  display:flex;
  justify-content:center;
  background:lightsteelblue;
  border:2px black solid;
  border-width:3px;  
  border-style:groove;
  border-radius:25px;
  height:620px;
  width: 400px;
}
.input {
  width:99%;
}
#zipError {
  color:red;
}
.input {
  font-weight:bold;
}
#submitBtn {
  border-radius:10px;
  border-style:groove;
  margin:auto;
  font-size:1.8em;
  display:block;
  max-width:400;
}